In [1]:
import pandas as pd
import pdfkit
from xlsx2html import xlsx2html

In [2]:
import re
import time
from win32com import client
import win32com.client
from pywintypes import com_error

In [3]:
import openpyxl
import PIL
from PIL import Image
from openpyxl import load_workbook
from openpyxl import Workbook

In [4]:
consignerSummary = pd.read_excel(r'Consigner Payments 14-20 November 2022.xlsx',sheet_name='Summary Per Consigner')
print(type(consignerSummary))

emailArrLen = len(consignerSummary)
display(consignerSummary)

<class 'pandas.core.frame.DataFrame'>

,Order Number,Order Date,Consignor,Product Title,Variant Title,Barcode,Price,Discount,Selling Price,Commission Rate,Commission Amount,Payout Amount,Fulfillment Status (Line Item),Payment Gateway Names,Location,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,#57879,11-15-2022 16:13,01icedcoffee@gmail.com,Jordan 1 Low Bred Toe -uk9 - Code: I-t4un8ml92...,Uk 9 / New,I-t4un8ml92wmjiu,3499.0,0.0,3499.0,0.175,612.325,2886.675,fulfilled,cash,Cape Town,NaN,NaN,NaT
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sent,NaN,NaN,NaN,NaN,NaT
2,#57823,11-14-2022 22:42,aadila.eb@gmail.com,Funko POP! Mike Tyson Boxing 01,OS / New,3CChyds6E,799.0,0.0,799.0,0.250,199.750,599.25,unfulfilled,PayGate PayWeb,Johannesburg,NaN,NaN,NaT
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sent,NaN,NaN,NaN,NaN,NaT
4,#57889,11-15-2022 17:39,aaronzetler@gmail.com,Fear of God Essentials Sweatshorts Egg Shell,L / New,I-1v6ml8ymolky,3799.0,200.0,3599.0,0.225,809.770,2789.23,fulfilled,Card Payment,Cape Town,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,#33412,11-19-2022 14:12,NaN,Air Jordan 1 ‘Pine Green’ (GS),Default / Default / Default,NaN,0.0,0.0,0.0,0.225,0.000,0,unfulfilled,NaN,NaN,NaN,NaN,NaT
462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
464,#58113,11-18-2022 14:33,andrewmpearce@gmail.com,Jordan 1 Mid Black Royal Tumbled Leather,Uk 7 / Preowned 9/10,I-g0tfqnml38jkno4,3499.0,0.0,3499.0,0.225,787.270,2711.73,fulfilled,Payflex,Johannesburg,NaN,wrongfully paid,NaT
465,#58113,11-18-2022 14:33,cebekhulunjabulo@gmail.com,Jordan 1 Mid Black Royal Tumbled Leather,Uk 7 / Preowned 9/10,I-g0tfqnml38jkno4,3499.0,0.0,3499.0,0.225,787.270,2711.73,fulfilled,Payflex,Johannesburg,NaN,store cred,NaT

In [5]:
excel_file = 'Consigner Payments 14-20 November 2022.xlsx' 
wb = load_workbook(excel_file, data_only = True)
sh = wb['Summary Per Consigner']
print(type(sh))
consignerSummary['Colour'] = ''
for i in range(len(consignerSummary)):
    consignerSummary.iloc[i,18] = sh['A'+str(i+2)].fill.start_color.index
#consignerSummary['Colour'] = sh['A'].fill.start_color.index

consign = consignerSummary[consignerSummary.Colour == 'FF00FF00']
consign

<class 'openpyxl.worksheet.worksheet.Worksheet'>

,Order Number,Order Date,Consignor,Product Title,Variant Title,Barcode,Price,Discount,Selling Price,Commission Rate,Commission Amount,Payout Amount,Fulfillment Status (Line Item),Payment Gateway Names,Location,Unnamed: 15,Unnamed: 16,Unnamed: 17,Colour
0,#57879,11-15-2022 16:13,01icedcoffee@gmail.com,Jordan 1 Low Bred Toe -uk9 - Code: I-t4un8ml92...,Uk 9 / New,I-t4un8ml92wmjiu,3499.0,0.0,3499.0,0.175,612.325,2886.675,fulfilled,cash,Cape Town,NaN,NaN,NaT,FF00FF00
2,#57823,11-14-2022 22:42,aadila.eb@gmail.com,Funko POP! Mike Tyson Boxing 01,OS / New,3CChyds6E,799.0,0.0,799.0,0.250,199.750,599.25,unfulfilled,PayGate PayWeb,Johannesburg,NaN,NaN,NaT,FF00FF00
4,#57889,11-15-2022 17:39,aaronzetler@gmail.com,Fear of God Essentials Sweatshorts Egg Shell,L / New,I-1v6ml8ymolky,3799.0,200.0,3599.0,0.225,809.770,2789.23,fulfilled,Card Payment,Cape Town,NaN,NaN,NaT,FF00FF00
5,#57872,11-15-2022 15:43,aaronzetler@gmail.com,Fear of God Essentials Sweatshorts Smoke,L / New,I-1v6ml8ym6scs,3799.0,0.0,3799.0,0.225,854.770,2944.23,fulfilled,PayGate PayWeb,Johannesburg,NaN,NaN,NaT,FF00FF00
6,#58209,11-19-2022 15:05,aaronzetler@gmail.com,Fear of God Essentials T-shirt Off Black,L / New,I-10otnhsml9wovonk,2999.0,0.0,2999.0,0.225,674.770,2324.23,fulfilled,Card Payment,Cape Town,NaN,NaN,NaT,FF00FF00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,#57795,11-14-2022 15:14,zayyaan23@gmail.com,Yeezy 350 V2 Core Black,Uk 9 / New,NaN,9499.0,0.0,9499.0,0.175,1662.325,7836.675,fulfilled,Card Payment,Johannesburg,NaN,NaN,NaT,FF00FF00
452,#57804,11-14-2022 16:11,zishan.adam@gmail.com,Jordan 1 Mid French Blue Fire Red,Uk 6 / New,I-scrcjml9ih22pr,5499.0,500.0,4999.0,0.175,874.820,4124.18,fulfilled,Card Payment,Johannesburg,NaN,NaN,NaT,FF00FF00
453,#58130,11-18-2022 15:58,zishan.adam@gmail.com,Nike Dunk Low Disrupt Copa (W),Uk 6 / New,I-25fz8ml895bwnw,3499.0,0.0,3499.0,0.175,612.320,2886.68,fulfilled,Card Payment,Johannesburg,NaN,NaN,NaT,FF00FF00
455,#57818,11-14-2022 18:06,andrevrhyn@gmail.com,Jordan 3 Retro Free Throw Line White Cement -u...,NaN,I-119rafml7uach3e,11999.0,1499.0,10500.0,0.175,1837.500,8662.5,fulfilled,Card Payment,Cape Town,NaN,NaN,NaT,FF00FF00
464,#58113,11-18-2022 14:33,andrewmpearce@gmail.com,Jordan 1 Mid Black Royal Tumbled Leather,Uk 7 / Preowned 9/10,I-g0tfqnml38jkno4,3499.0,0.0,3499.0,0.225,787.270,2711.73,fulfilled,Payflex,Johannesburg,NaN,wrongfully paid,NaT,FF00FF00

In [6]:
# lets get number of unique email addys

# the floats as nan cause a problem so cast the column as string
#consign["Consignor"] = consign["Consignor"].astype("str")
dupeEmails = list(consign['Consignor'].to_numpy())

# someone keeps leaving a newline after some emails, we must remove them to get an accurate set
newEmails = []
for sub in dupeEmails:
    newEmails.append(sub.replace("\n", ""))

finalEmails = set(newEmails)
#finalEmails.remove("nan")
print(finalEmails)
print(len(finalEmails))

{'01icedcoffee@gmail.com', 'Beatsbyprof@gmail.com', 'babrahams997@gmail.com', 'patrickahamilton95@gmail.com', 'aaronzetler@gmail.com', 'berryrandall811@gmail.com', 'baarmatt19@gmail.com', 'andrewmpearce@gmail.com', 'taxsolve@gmail.com', 'abracosa@live.co.za', 'm.hafesjibusiness@aol.com', 'lukesneakers101@gmail.com', 'rmzmoosa@gmail.com', 'radix.abrahams@gmail.com', 'wadem16@gmail.com', 'Suhailsuhail23@icloud.com', 'mhrholdingsa@gmail.com', 'roloda87@gmail.com', 'sameegh.salasa@icloud.com', 'thurl.singh@gmail.com', 'nicolelyne383@gmail.com', 'Abubakrosman786@gmail.com', 'ahmedmahomedy54@gmail.com', 'renee81smith@gmail.com', 'delongoni@gmail.com', 'houseofhoops.sa@hotmail.com', 'Leseditshweu5@gmail.com', 'makalex12@aol.com', 'ralph.chetty@gmail.com', 'spookgear@gmail.com', 'slamdunk.sa@hotmail.com', 'danielvasiljev2004@outlook.com', 'mornecloete@yahoo.com', 'jasonkyleblackman@gmail.com', 'garryn81@gmail.com', 'austinbe.freeman@gmail.com', 'Ksbuyst@icloud.com', 'rickhuang07@gmail.com', 'autolot@ymail.com', 'paptterfly@icloud.com', 'shaheedgr9@gmail.com', 'liamelder10@gmail.com', 'andrew.christodoulou1234@gmail.com', 'kia.s39912@gmail.com', 'dkafaar1987@gmail.com', 'murrayclark82@gmail.com', 'zanebk786@gmail.com', 'inhandsales@gmail.com', 'natheerbasson@gmail.com', 'jameelsujee@gmail.com', 'justintorode91@gmail.com', 'zameelamod1@gmail.com', 'ssmoussa657@gmail.com', 'apferreira19@yahoo.com', 'mattpienaar2001@gmail.com', 'terrence.petterssons@gmail.com', 'zaheer.randera@gmail.com', 'hqgsyco2000@gmail.com', 'martindpm@icloud.com', 'shrikaarsingh.1234@gmail.com', 'jhb@streetclass.co.za', 'yazeed.khan18@gmail.com', 'owenchen2207@gmail.com', 'Ted.amanibire@gmail.com', 'yasin.chetty@gmail.com', 'sigamoneykubendran@gmail.com', 'zayyaan23@gmail.com', 'ag.streetwear@hotmail.com', 'mulalo.mphaka@gmail.com', 'uzair@mopfoods.co.za', 'Nazmayat@gmail.com', 'dshalfon23@gmail.com', 'bhavishalramsammy@gmail.com', 'nduh.buthelezi@gmail.com', 'yasmin.amod@gmail.com', 'sandisej@icloud.com', 'hldelport@icloud.com', 'roygruer@gmail.com', 'faeez27@gmail.com', 'bosman786@gmail.com', 'keenanchristians@gmail.com', 'liamlai_za@outlook.com', 'aadila.eb@gmail.com', 'armandvds1@gmail.com', 'jessecupido@yahoo.com', 'katieastowe@gmail.com', 'abdullahggabriels@gmail.com', 'nik19pan@gmail.com', 'oussetedouard@gmail.com', 'thejosh001@gmail.com', 'Sweetboat12@icloud.com', 'uzzibhikha21@gmail.com', 'floorgasmz@gmail.com', 'Yzha475@student.monash.edu', 'ookolawole@gmail.com', 'raeesdalwai@icloud.com', 'ccokocha@gmail.com', 'timothylai900@gmail.com', 'yusufmahomedy786@gmail.com', 'jaredfuchs16@gmail.com', 'joshuaamos253@gmail.com', 'iamsmiddie@gmail.com', 'koketsotso@gmail.com', 'thornestacey2@gmail.com', 'raymondshitlhabane1@gmail.com', 'imran.bobat911@gmail.com', 'timothylai015@yahoo.com', 'mmmazzotti7@gmail.com', 'joshua.waksman@gmail.com', 'mingxi527@icloud.com', 'farhanesat@gmail.com', 'Domingomikhaeel@gmail.com', 'streetluxcollections@gmail.com', 'zishan.adam@gmail.com', 'ysurtee@icloud.com', 'aburonaldo77@gmail.com', 'uzairmt90@gmail.com', 'kinokkrindi@gmail.com', 'ankebauersnk@hotmail.com', 'muzsujee@icloud.com', 'bookmittyt@gmail.com', 'danidayusa@gmail.com', 'wiankvanwyk@gmail.com', 'akdavids021@gmail.com', 'imrankhan1591@gmail.com', 'isaacchen1990@gmail.com', 'alleykat3701@gmail.com', 'andrevrhyn@gmail.com', 'deadxnetworking@hotmail.com', 'arendburger@icloud.com', 'karmsheel@live.com', 'joshuaweinberg@me.com', 'zanebk@icloud.com'}
133

In [7]:
rslt_df = consign[consign['Consignor'] == '01icedcoffee@gmail.com'] 
rslt_df

,Order Number,Order Date,Consignor,Product Title,Variant Title,Barcode,Price,Discount,Selling Price,Commission Rate,Commission Amount,Payout Amount,Fulfillment Status (Line Item),Payment Gateway Names,Location,Unnamed: 15,Unnamed: 16,Unnamed: 17,Colour
0,#57879,11-15-2022 16:13,01icedcoffee@gmail.com,Jordan 1 Low Bred Toe -uk9 - Code: I-t4un8ml92...,Uk 9 / New,I-t4un8ml92wmjiu,3499.0,0.0,3499.0,0.175,612.325,2886.675,fulfilled,cash,Cape Town,NaN,NaN,NaT,FF00FF00

In [8]:
temp_file = 'Payment Advice Template Blank.xlsx' 
wb2 = load_workbook(temp_file, data_only = True)
sh2 = wb2['Sheet2']
#copy = sh2 # we will work wth the copy from now on
#print(copy)

sheets = wb2.sheetnames # ['Sheet1', 'Sheet2']

for s in sheets:

    if s != 'Sheet2':
        sheet_name = wb2[s]
        wb2.remove(sheet_name)

# your final wb with just Sheet1

In [9]:
#lets create a new xlsx sheet for each person
# each payment advice should have cols
#Description
#Variant
#Code
#List Price
#Discount
#Selling Price
# % com
# comm
# payout
for i in finalEmails:
    temp_file = 'Payment Advice Template Blank.xlsx' 
    
    wb2c = load_workbook(temp_file, data_only = True)
    sh2c = wb2c['Sheet2']
    print(i)
    rslt_df = consign[consign['Consignor'] == i] 
    df2=rslt_df.reindex(columns= ['Product Title', 'Variant Title', 'Barcode','Price','Discount','Selling Price','Commission Rate','Commission Amount ','Payout Amount'])
    #print(str(df2.iloc[0,0]))
    #copy = sh2
    display(df2)
    sh2c.cell(row=13, column=1).value = str(i) 
    count = 0
    for y in range(len(rslt_df)):
        #print(y)
        for x in range(9):
            #try:
            if (x==3 or x==4 or x==5 or x==7 or x==8):
                sh2c.cell(row=y+17, column=x+1).value = round(float(df2.iloc[y,x]),2)
            else:
                sh2c.cell(row=y+17, column=x+1).value = str(df2.iloc[y,x])
        count += round(float(str(df2.iloc[y,8])),2)
    # calculate totals
    sh2c.cell(row=len(rslt_df)+18, column=9).value = count
    wb2c.save('excels/test_'+i+'.xlsx')
    
    ##
    # convert each excel file to pdf
    # Open Microsoft Excel
    wb2c.close()
    excel = client.Dispatch("Excel.Application")
    excel.Visible = False
    excel.interactive = False
  
    # Read Excel File
    #sheets = excel.Workbooks.Open('test_'+i+'.xlsx')
    sheets = excel.Workbooks.Open('test_with_just_sheet2')
    #work_sheets = sheets.Worksheets[0]
    work_sheets = sheets.Worksheets[0]
  
    # Convert into PDF File
    work_sheets.ExportAsFixedFormat(0, 'test_with_just_sheet2.pdf')
    
    #df = pd.read_excel('excels/test_'+i+'.xlsx')#input
    #df.to_html('htmls/test_'+i+'.xlsx')#to html
    #pdfkit.from_file('htmls/test_'+i+'.xlsx', 'pdfs/test_'+i+'.xlsx')#to pdf
    
    #xlsx2html('test_with_just_sheet2.xlsx', 'test_with_just_sheet2.html')

    #time.sleep(3)
    
            #except:
                #continue
#copy.save(demo.xlsx)
#wbr = Workbook()
#ws = Worksheet(wb, "Sheetname")
#wbr._add_sheet(copy)
#wbr.save(demo.xlsx)
#wb2['Sheet2'] = sh2
#wb2.save('test_with_just_sheet2.xlsx')

01icedcoffee@gmail.com

,Product Title,Variant Title,Barcode,Price,Discount,Selling Price,Commission Rate,Commission Amount,Payout Amount
0,Jordan 1 Low Bred Toe -uk9 - Code: I-t4un8ml92...,Uk 9 / New,I-t4un8ml92wmjiu,3499.0,0.0,3499.0,0.175,612.325,2886.675

com_error: (-2147352567, 'Exception occurred.', (0, 'Microsoft Excel', "Sorry, we couldn't find test_with_just_sheet2.xlsx. Is it possible it was moved, renamed or deleted?", 'xlmain11.chm', 0, -2146827284), None)